:root {
    --background:  #17231f;
    --shadow:  #082b34;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    background-color: gainsboro;
    animation: fadeInAnimation ease .5s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    }

    100% { 
        opacity: 1; 
    } 
}

#google_translate_element {
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: center;
    grid-area: my-translator;
    background: var(--background);
}

.grid-container {
    display: grid;
    grid-template-areas: 'my-header'
                         'my-main'
                         'my-translator'
                         'my-footer';
}

.my-main {
    grid-area: my-main;
    display: flex;
}

.my-border {
    width: 300px;
    background-color: var(--background);
}

.my-border-radius {
    border-radius: 10px;
    box-shadow: 0 0 0 .6em var(--background);
    overflow: hidden;
    margin: 0;
    perspective: 1px;
}

.sections-div {
    border-image-slice: 1;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.my-section {
    text-align: center;
    margin-bottom: 50px;
    padding: 1rem;
    color: white;
    background-color: gainsboro;
    border-width: 4px;
    border-style: solid;
    border-image:
      linear-gradient(
        to top, 
        rgb(204, 0, 255), 
        rgb(80, 46, 80)
      ) 1 100%;
      font-size: larger;
}

.my-section h2 {
    color: black;
    font-family: "Playfair Display";
    font-style: normal;
    font-variant: normal;
    font-size: 60px;
    font-weight: bold;
    line-height: 48px;
    text-align: center;
    text-shadow: 1px 1px 2px var(--shadow);
}

.destinations-list {
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;
}

.destinations-list li {
    margin-top: 20px;
    margin-left: -55px;
    text-decoration: none;
    list-style: none;
}

.destinations-list li a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: blue;
    cursor: pointer;
}
